/* font-family: "Montserrat", sans-serif; */

/* common */

/* * {
    box-sizing: border-box; 
} */

body {
    font-family: "Montserrat", sans-serif;
    color: #111;
}

button {
    font-family: inherit;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0; 
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
    width: 1166px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
}

.accent {
    color: #FD9222; 
}

.accent-italic {
    font-style: italic;
}



/* common */

/* #region header */

.page-header {
    
}

.page-nav {
    
}

.logo-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.12;
    letter-spacing: -0.03em;
}

.nav-list {

}

.nav-list-item {
    
}

.nav-item-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
}

.nav-item-link:hover,
.nav-item-link:focus {
    color: #FD9222;
}

.social-list {

}

.social-list-item {

}
.social-item-link {

}

/* #endregion header */

/* #region hero */

.hero-section {

}

.main-title {
    
}

.hero-actions-list {

}



/* #endregion hero */

.benefits {
    background-color: #1E1823;
    padding-top: 50px;
    padding-bottom: 51px;
    color: #FFFFFF;
}

.benefits-list {
    display: flex;
    justify-content: space-between;
    column-gap: 88px;
}

.benefits-list-item {
    width: 308px;
}

/* sensation */

.sensation {
    padding-top: 80px;
    padding-bottom: 80px;
}


.sensation-title {
    width: 411px;
    margin: 0 auto 28px auto;
}

.sensation-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-align: center;
    width: 486px;
    margin: 0 auto 50px auto;
}

.sensation-list {
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
}

.sensation-list-item {
    border-radius: 15px;
    padding: 30px 32px 28px 32px;
    width: calc((100% - (19px * 3)) / 4);
}

.sensation-list-item:nth-child(3n+2) {
    background-color: #e2643b;
}

.sensation-list-item:nth-child(2n+3) {
    background-color: #24ca0b;
}






.page-footer {
    background-color: #1E1823;
    color: #FFFFFF;
    height: 200px;
}

.sensation-list {
    
}

.sensation-list-item {
    
}


.image-container {
    width: 800px;
    height: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 12px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(19, 30, 236, 0.7)), url("./../images/img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
}

.item-link {
    height: 40px;
    width: 40px;
    background-color: #1ef20f;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    fill: #FD9222;
    stroke: #111;
}

.item-link:hover,
.item-link:focus {
    background-color: #111;
    fill: #111;
    stroke: #FD9222;
}







